<!doctype html>
<html lang="en">
{% include 'head.html' %}

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <!-- Jinja2 -->
    {% include 'header.html' %}

    <main role="main" class="inner cover">
        <h1 class="cover-heading">in the shop</h1>
        <p class="lead">원하는 제품을 가장 저렴하게 살 수 있도록 도와주는 "in the shop" 입니다. 하단에 제품명과 희망가를 입력하시면
            희망가 이하의 딜이 등록될 경우에 알림을 보내드립니다.</p>
        <br>
    </main>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <!--<h4 class="my-0 font-weight-normal">Free</h4>-->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                            최저가 알림은 인더샵해서 해결 👌🏼
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!--<h1 class="card-title pricing-cardtitle">$0 <small class="text-muted">/ mo</small></h1>-->
                    <div class="input-group mb-3">
                        <span class="input-group-text">제품명</span>
                        <input type="text" id="target" class="form-control" placeholder="원하는 브랜드의 제품명, 코드 무엇이든!"
                               aria-label="Amount (to the nearest dollar)">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">희망가</span>
                        <input type="text" id="price" class="form-control" placeholder="원하는 최저가 입력!"aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">(원)</span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="phone-num input-group-text">연락처</div>
                        </div>
                        <input type="text" id="phone" class="form-control" placeholder="" id="order-phone">
                    </div>
                    <button type="button" onclick="makePush()" style="font-size: medium" class="btn btn-lg btn-block btn-outline-primary">@intheshop bot에게 알림 요청하기</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>by <a href="https://">@__yunnnjuoo</a>.</p>
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>window.jQuery || document.write('<script src="../static/jquery-slim.min.js"><\/script>')</script>
<script src="../static/popper.min.js"></script>
<script src="../static/bootstrap.min.js"></script>
<script>
    function makePush(){
        let target = $('#target').val()
        console.log(target)
        let price = $('#price').val()
        console.log(price)
        let phone = $('#phone').val()
        console.log(phone)

        // 입력 alert

        if (target === '') {
            alert("제품명을 입력하시면 알림을 보내드립니다!")
            return
        } else if (price === '') {
            alert("얼마에 알림을 보내드릴까요?.?")
            return
        } else if (!isCellPhone(phone)) {
            alert("연락처 형식은 010-XXXX-XXXX으로 입력해주실께요:)");
            return
         }

        // Push 알림 저장 요청
        $.ajax({
            type: "POST",
            url: "/push",
            data: {
                'target_give': target,
                'price_give': price,
                'phone_give': phone
            },
            success: function (response) {
                if (response["result"] == "success") {
                    alert(response["msg"]);
                    {#window.location.reload();#}
                    window.location.href = 'https://telegram.me/intheshop_bot';

                }
            }
        })

    }
    function isCellPhone(p) {
            p = p.split('-').join('');
            let regPhone = /^((01[1|6|7|8|9])[1-9]+[0-9]{6,7})|(010[1-9][0-9]{7})$/;
            return regPhone.test(p);
     }
</script>
</body>
</html>
